<!--На данной странице будет отображаться форма для добавления новостей.
 Она доступна только супер-пользователям-->

<!--Расширяем страницу базовым шаблоном-->
{% extends 'news/base.html' %}

<!--Подключаем статические файлы-->
{% load static %}

<!--Подключаем собственные стили для страницы-->
{% block style %}
<link rel="stylesheet" href="{% static 'news/css/addnews.css' %}">
{% endblock %}

<!--В основном блоке отображается форма для добавления новостей-->
{% block content %}
<!--Проверка на суперпользователя-->
{% if user.is_superuser %}
<div class="container text-center">
<form action="{% url 'addnews' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
    <p><label for="{{ f.id_for_label}}"> {{f.label}}</label> {{ f }}</p>
    <div> {{ f.errors }} </div>
    {% endfor %}
        <button type="submit">Добавить</button>
</form>
</div>
{% else %}
<!--Если это не суперпользователь, что отображаем следующее сообщение-->
<h1>Страница доступная только администраторам </h1>
{% endif %}
{% endblock %}
