<!--Это страница для отображения новостей по определенной категории. Связана с моделями News и Category-->

<!--Расширяем страницу базовым шаблоном-->
{% extends 'news/base.html' %}

<!--Подключаем статические файлы-->
{% load static %}

<!--Подключаем стили для страницы-->
{% block style %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

<!--В основном блоке отображаются новости по выбранной категорииь(по 6 на странице, по 2 в одной строке)-->
{% block content %}
<!--Создаём блок с новостями в центре страницы-->
<div class="container text-center one">
    <!--Отображаем выбранную категорию-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{name}}
  </button>
    <!--Создаем возможность выбрать другую категорию-->
  <ul class="dropdown-menu">
       <!--Отображаем список из категорий, кроме текущей-->
      {% for i in category %}
      {% if i.name != name %}
    <li><a class="dropdown-item" href="{% url 'category' i.slug %}">{{i.name}}</a></li>
      {% endif %}
      {% endfor %}
      <!--Добавляем возможность вернуться ко всем новостям, независимо от категории-->
            <li><a class="dropdown-item" href="{% url 'news' %}">Все новости</a></li>
  </ul>
</div>
    </div>
<!--Отображаем новости по указанной категории-->
    <div class="container text-center">
        <!--Пробегаемся по списку из новостей и отображаем каждую новость-->
        {% for i in news %}
        "{% cycle '<div class="row">' '' %}"
           <div class="col-lg">
          <a target="_blank" href="{{ i.url }}">
          <div class="card text-bg-dark">
            {% if i.photo %}
            <img src="{{ i.photo.url }}" class="card-img" alt="...">
            {% endif %}
            <div class="card-img-overlay">
                 <div class="row">
              <h5 class="card-title">{{ i.title }}</h5></div>
              <div class="row"><p class="card-text">{{ i.description|truncatewords:20 }}</p></div>
              <div class="row"><p class="card-text" style="font-style: italic;"><small>Опубликовано {{ i.time_create|date:"d.m.Y"}}</small></p></div>
            </div>
          </div>
          </a>
        </div>
        <!--Создаём цикл внутри for, чтобы в одной строке было по две новости-->
        "{% cycle '' '</div>' %}"
        {% endfor %}
    </div>
{% endblock %}
