<!--Это страница для отображения результатов поиска-->

<!--Расширяем страницу базовым шаблоном-->
{% extends 'news/base.html' %}

<!--Подключаем статические файлы-->
{% load static %}

<!--Подключаем стили для страницы-->
{% block style %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

<!--В основном блоке отображааем результаты поиска в виде строк-->
{% block content %}
<!--Если задан пустой запрос, то отображаем соответствующее-->
{% if text == 'text=&' %}
<h1 style="color:#ffffff;">Задан пустой поисковый запрос</h1>

<!--Если найдены совпадения, то отображаем их-->
{% elif allnews %}
<div class="list-news">
<h1 style="color:#ffffff;">Результаты поиска:</h1>
  <!--Пробегаемся по списку с найденными новостями и отображаем их в виде строки-->
{% for i in allnews %}
<div class="list-group">
  <a target="_blank" href="{{ i.url }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ i.title }}</h5>
      <small class="text-muted">{{ i.time_create }}</small>
    </div>
    <p class="mb-1">{{ i.description }}</p>
    <small class="text-muted">Категория: {{ i.category }}</small>
  </a>
  </div>
{% endfor %}
</div>

<!--Если совпадения не найдены, отображаем соответствующее сообщение-->
{% else %}
<h1 style="color:#ffffff;">По вашему запросу ничего не найдено</h1>
{% endif %}
{% endblock %}